body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(232, 236, 237);
}

/*HEADER (BARRA DE NAVEGACION)*/
header {
    background-image: url(./assets/img/fondo-header.jpg);
    background-size: 100%;
    background-position: center;
    padding: 20px 0;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000;
}

.barra-navegacion {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.log{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.log p{
    font-weight: 600;
}

nav {
    float: right;
}

header li{
    list-style-type: none;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

header li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600;
}

header li a:hover {
    color: rgb(33, 150, 243);
}

.logo img {
    width: 80px;
    height: 80px;
    display: block; 
    margin-top: -10px; 
}

.menu-toggle {
    display: none; 
}

.drop-down-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 63px;
    width: 200px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down-menu li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-menu.open{
    height: 136px;
}

@media screen and (max-width: 900px) {
    nav {
        display: none; 
    }

    .barra-navegacion{
        justify-content: space-between;
    }

    .menu-toggle {
        display: block; 
    }

    .drop-down-menu{
        display: block;
    }

}

/*MAIN (CONTENIDO)*/

.menu {
    position: fixed;
    top: 120px;
    left: 9%;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(138, 224, 219);
    overflow-y: auto;
}

.menu h2 {
    padding-left: 20px;
    margin: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.menu ul li a:hover {
    font-weight: 600;
}

.content {
    display: flex;
    padding-top: 120px;
    justify-content: center;
}

section{
    scroll-margin-top:120px;
}

.main-content p {
    margin: 0 10% 10px 30%;
    text-align: justify; 
}

.main-content h1{
    margin: 20px 0 10px 30%;
    font-size: 40px;
    font-weight: bold;
}

.main-content h2{
    margin: 20px 0 10px 30%;
}

.main-content article h3 {
    width: 30%;
    margin: 20px 0 5px 35%;
}

.main-content article p{
    margin: 5px 20% 5px 35%;; 
    text-align: justify;
}